section {
  padding: 1px 150px 50px;
}

.categorias-header {
  padding-bottom: 16px;
  padding-left: 14px;
}

.title {
  margin: 0;
  font-size: 20px;
  font-weight: 600;
  color: #E15C31;
}

.categorias-header {
  display: flex;
  align-items: center;
}

.categorias-container {
  padding-left: 4px;
  width: 100%;
  display: flex;
  justify-content: space-between;

  overflow-x: auto;
  scroll-snap-type: x mandatory;
  cursor: pointer;
}

.categorias-container::-webkit-scrollbar {
  height: 8px; /* Altura da barra de rolagem */
}

.categorias-container::-webkit-scrollbar-thumb {
  background: transparent; /* Cor do botão da barra de rolagem */
  border-radius: 10px; /* Borda arredondada */
}

.categoria {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  width: 88px;
}

.icone-categoria {
  width: 68px;
  height: 68px;
  border-radius: 50%;
  background-color: #E15C31;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icone-categoria .material-icons {
  font-size: 32px;
  color: white;
}

p {
  margin: 0;
  padding-top: 8px;
  font-size: 13px;
  font-weight: 600;
  color: #E15C31;
  text-align: center;
}

/* Responsividade */
@media screen and (max-width: 1024px) {
  section {
      padding: 1px 100px 44px;
  }

  .categorias-header {
    padding-bottom: 16px;
    padding-left: 12px;
  }
}

@media screen and (max-width: 768px) {
  section {
      padding: 1px 56px 40px;
  }
}

@media screen and (max-width: 480px) {
  section {
      padding: 1px 38px 24px;
  }
}

@media screen and (max-width: 380px) {
  section {
      padding: 1px 28px 20px;
  }
}

@media screen and (max-width: 320px) {
  section {
      padding: 1px 30px 16px;
  }
}