section {
  padding: 1px 164px 50px;
  overflow: visible; /* Garante que o conteúdo além do padding apareça */
  position: relative; /* Permite o controle de posicionamento de elementos */
}

.categorias-header {
  padding-bottom: 18px;
  padding-left: 4px;
}

.title {
  margin: 0;
  font-size: 20px;
  font-weight: 600;
  color: #E15C31;
}

.categorias-header {
  display: flex;
  align-items: center;
}

.categorias-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  cursor: pointer;
  position: relative; /* Mantém a relação com o section */
  z-index: 1; /* Para sobrepor o background ou outros elementos */
}

.categorias-container::-webkit-scrollbar {
  height: 8px; /* Altura da barra de rolagem */
}

.categorias-container::-webkit-scrollbar-thumb {
  background: transparent; /* Cor do botão da barra de rolagem */
  border-radius: 10px; /* Borda arredondada */
}

.categoria {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  width: 88px;
}

.icone-categoria {
  width: 68px;
  height: 68px;
  border-radius: 50%;
  background-color: #E15C31;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icone-categoria .material-icons {
  font-size: 32px;
  color: white;
}

p {
  margin: 0;
  padding-top: 8px;
  font-size: 13px;
  font-weight: 600;
  color: #E15C31;
  text-align: center;
}

.categorias-carousel {
  display: flex;
  align-items: center;
  position: relative;
}

.arrow {
  width: 40px;
  height: 40px;
  background-color: transparent;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  position: absolute;
  top: 30%;
  transform: translateY(-50%);
  z-index: 2;
  display: none; /* Esconde as setas por padrão */
}

.arrow.left {
  left: -24px; /* Ajuste conforme necessário */
}

.arrow.right {
  right: -38px; /* Ajuste conforme necessário */
}

.arrow span {
  font-size: 26px;
  color: #043B64;
}

/* Responsividade */
@media screen and (max-width: 1024px) {
  section {
    padding: 0 96px 24px 96px;
    overflow: visible; /* Mantém o círculo visível em telas menores */
  }

  .categorias-container {
    gap: 16px;
    padding-left: 14px;
  }

  .icone-categoria {
    width: 64px;
    height: 64px;
  }

  .icone-categoria .material-icons {
    font-size: 30px;
  }

  p {
    font-size: 13px;
  }

  .arrow {
    display: block;
    z-index: 2; /* As setas devem estar acima do restante */
  }
}

@media screen and (max-width: 768px) {
  section {
    padding: 1px 56px 40px;
    overflow: visible; /* Mantém o círculo visível em telas menores */
  }

  .categorias-header[_ngcontent-ng-c2027107330] {
    padding-bottom: 10px;
  }

  .title {
    font-size: 18px;
  }

  .categorias-header {
    padding-bottom: 16px;
  }

  .categorias-container {
    gap: 20px;
    padding-left: 14px;
  }

  .icone-categoria {
    width: 58px;
    height: 58px;
  }

  .icone-categoria .material-icons {
    font-size: 26px;
  }

  p {
    font-size: 12px;
  }

  .arrow {
    display: block;
    z-index: 2; /* As setas devem estar acima do restante */
  }
}

@media screen and (max-width: 425px) {
  section {
    padding: 1px 38px 24px;
    overflow: visible; /* Mantém o círculo visível em telas menores */
  }

  .categorias-header[_ngcontent-ng-c2027107330] {
    padding-bottom: 10px;
  }

  .title {
    font-size: 16px;
  }

  .categorias-header {
    padding-bottom: 16px;
  }

  .categorias-container {
    gap: 20px;
    padding-left: 10px;
  }

  .categoria {
    width: 80px;
  }

  .icone-categoria {
    width: 46px;
    height: 46px;
  }

  .icone-categoria .material-icons {
    font-size: 26px;
  }

  p {
    font-size: 11px;
    padding-top: 6px;
  }

  .arrow {
    display: block;
    z-index: 2; /* As setas devem estar acima do restante */
  }
}

@media screen and (max-width: 380px) {
  section {
      padding: 1px 28px 20px;
  }
}

@media screen and (max-width: 320px) {
  section {
      padding: 1px 30px 16px;
  }
}
